@model Project.Models.FoydalanuvchiModel;

<!DOCTYPE html>

<html>
<head>
  <title>Foydalanuvchi Profil</title>
</head>

<body>
  <h1>Foydalanuvchi Profil Sahifasi</h1>

  <p><strong>ID:</strong> @Model.Id</p>
  <p><strong>Ism:</strong> @Model.Ism</p>
  <p><strong>Yosh:</strong> @Model.Yosh</p>

  <hr>

  <p>Bu sahifagi view orqali model yuborildi</p>
</body>
</html>
