<!DOCTYPE html>
<html lang="uz">

<head>
  <meta charset="utf-8" />
  <title>@ViewData["Title"] - MyProject</title>

  <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>

<body>

  <div class="container mt-4">
    @RenderBody()
  </div>

</body>

</html>
